@using NovelProject.AlterModels
@model CheckPartModel
@{
    ViewData["Title"] = $"Part {Model.Part.name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string actionUrl = Model.StartPartOrEnd
        ? Url.Action("ActionSeeScene", "PlayGame", new { partId = Model.Part.id, sceneId = Model.Part.start_scene_id })
        : Url.Action("EndAction", "PlayGame");
}
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        background: url('/scene_images/background_action_scene/black_background_action.jpg') no-repeat center center fixed;
        background-size: cover;
        font-family: Arial, sans-serif;
    }

    .full-screen-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .center-text {
        color: white;
        font-size: 2.5rem;
        text-align: center;
        text-shadow: 2px 2px 4px #000000;
    }
</style>
<div class="full-screen-wrapper" onclick="redirectToAction()">
    <div class="center-text">
        @if (Model.StartPartOrEnd)
        {
            <strong>Part: @Model.Part.name</strong>
            <br />

            <br />
            @Model.Part.start_part_text
        }
        else
        {
            <strong>End of Part: @Model.Part.name</strong>
            <br />

            <br />
            @Model.Part.end_part_text
        }
    </div>
</div>

<script>
    function redirectToAction() {
        window.location.href = '@Html.Raw(actionUrl)';
    }
</script>